body {
    background: rgb(24, 27, 40) no-repeat;
    background: -moz-linear-gradient(
            129deg,
            rgba(24, 27, 40, 1) 35%,
            rgba(38, 38, 42, 1) 73%
    );
    background: -webkit-linear-gradient(
            129deg,
            rgba(24, 27, 40, 1) 35%,
            rgba(38, 38, 42, 1) 73%
    ) no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#181b28", endColorstr="#26262a", GradientType=1);
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

form {
    background: rgb(34, 39, 61);
    background: -moz-linear-gradient(
            356deg,
            rgba(34, 39, 61, 1) 53%,
            rgba(52, 52, 62, 1) 97%
    );
    background: -webkit-linear-gradient(
            356deg,
            rgba(34, 39, 61, 1) 53%,
            rgba(52, 52, 62, 1) 97%
    );
    background: linear-gradient(
            356deg,
            rgba(34, 39, 61, 1) 53%,
            rgba(52, 52, 62, 1) 97%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22273d", endColorstr="#34343e", GradientType=1);
    border: .5px solid rgba(94, 94, 94, 0.935);
    border-radius: 20px;
    margin: auto;

}

#submit {
    background-color: #8952ed !important;
}

input, textarea, select {
    background-color: transparent;
}

label {
    color: white;
}

header {
    position: fixed;
    top: 0;
    padding: 20px;
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 35px;
}
header a{
    display: flex;
    align-items: center;
}
