<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/upload.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>PodScape | Upload</title>
</head>
<body>
<header>
    <a id="back-btn" href="/">
        <i class="fa-solid fa-large fa-arrow-left"></i>
        <h1>Home</h1>
    </a>
</header>
<div class="w-full">
    <form class="shadow-md px-8 pt-6 pb-8 mb-4 w-2/5" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-300 text-sm font-bold mb-2" for="title">
                Title
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-300 leading-tight focus:outline-none focus:shadow-outline"
                   id="title" type="text" placeholder="Title" name="title" required>
        </div>

        <div class="mb-4">
            <label class="block text-gray-300 text-sm font-bold mb-2" for="author">
                Author
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-300 leading-tight focus:outline-none focus:shadow-outline"
                   id="author" type="text" placeholder="Author" name="author" required>
        </div>
        <div class="mb-4">

            <label for="message" class="block mb-2 text-sm font-bold text-gray-300">Description</label>
            <textarea id="message" rows="4"
                      class="block p-2.5 w-full text-sm text-gray-300 rounded border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Description"
                      name="description"></textarea>

        </div>
        <div class="mb-4">
            <label for="countries" class="block mb-2 text-sm font-medium text-gray-300">Select an
                option</label>
            <select id="countries"
                    class="border border-gray-300 text-gray-300 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="category" required>
                <option selected>Choose a category</option>
                <option value="US">United States</option>
                <option value="CA">Canada</option>
                <option value="FR">France</option>
                <option value="DE">Germany</option>
            </select>
        </div>
        <div class="mb-4">

            <label class="block mb-2 text-sm font-medium text-gray-300" for="file_input">Thumbnail</label>
            <input class="block w-full text-sm text-gray-300 border border-gray-300 rounded cursor-pointer focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                   aria-describedby="file_input_help" id="file_input" name="thumbnail" type="file" required>
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">PNG, JPG (MAX.
                800x400px).</p>

        </div>
        <div class="flex flex-col items-center justify-center w-full mb-4">
            <label for="dropzone-file"
                   class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer dark:border-gray-600 dark:hover:border-gray-500">
                Upload Audio/Video
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor"
                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>
                    </svg>
                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span
                            class="font-semibold">Click to upload</span> or drag and drop</p>
                    <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                </div>
                <input id="dropzone-file" type="file" name="media" class="hidden" required/>
            </label>
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">MP3, MP4 (MAX.
                100mb).</p>
        </div>


        <div class="flex items-center justify-between">
            <input type="submit" id="submit" class="text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Upload
            </input>
        </div>

    </form>
    <p class="text-center text-gray-500 text-xs">
        &copy;2023 DSA Corp. All rights reserved.
    </p>
</div>
<script src="https://cdn.tailwindcss.com"></script>
</body>
</html>